

.cardWrapper{
    width:fit-content;
    height:fit-content;
    cursor:pointer;
}

.cardImage{
    width:80px;
    height:160px;
}

.card {
    width: 80px;
    height: 160px;
    /* perspective: 100vw; */
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    position: relative;
}
/* .card:nth-child(1) .front {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7b/Jack_of_clubs2.svg');
}
.card:nth-child(2) .front {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f6/Queen_of_hearts2.svg');
}
.card:nth-child(3) .front {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/22/King_of_spades2.svg');
} */
.card .face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98), box-shadow 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98), border-width 0.35s cubic-bezier(0.13, 1.03, 0.39, 0.98);
    /* box-shadow: 0px 1.2vw 4vw -1vw rgba(0, 0, 0, 0.6); */
    background-position: 0 0;
    background-size: 80px;
    background-repeat: no-repeat;
    /* border: 1px solid rgba(0, 0, 0, 0.3); */
    /* border-radius: 1.1vw; */
}
.card .front {
    transform: rotateX(0deg);
}
.card .back {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d4/Card_back_01.svg');
    transform: rotateY(180deg);
}
/* .card:hover .front, .card.hover .front {
    transform: rotateX(20deg);
    box-shadow: 0px 10vw 9vw -6vw rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-top: 1px solid rgba(0, 0, 0, 0.8);
}
.card:hover .back, .card.hover .back {
    transform: rotateX(200deg);
    box-shadow: 0px -2vw 4vw -2vw rgba(35, 2, 2, 0.68), inset 0px -8vw 12vw -5vw rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
} */
.card.flipped .front {
    transform: rotateY(180deg);
}
.card.flipped .back {
    transform: rotateY(360deg);
}
/* .card.flipped:hover .front, .card.flipped.hover .front {
    transform: rotateZ(200deg);
}
.card.flipped:hover .back, .card.flipped.hover .back {
    transform: rotateZ(340deg);
} */

